<div class="container w-75 d-flex flex-column justify-content-center align-item-center">
  <h1 class="title mx-auto mb-3">URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="h-25 w-25 mx-auto mb-5" alt="cover">
  <input type="text" style="background-color: #eee;" class="form-control mb-3 mx-auto" placeholder="Input URL here" aria-label="URL column"
      aria-describedby="button-addon2">
  <button class="btn btn-outline-primary w-25 mx-auto" type="button" id="button-addon2">shorten</button>
</div>
