{{#if shortURL}}
<div class="container w-75 d-flex flex-column justify-content-center align-item-center">
  <h1 class="title mx-auto mb-3">URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="mx-auto mb-5" style="width: 15%;" alt="cover">
  <h4 class="sucess mx-auto mb-3">Sucess! Please Use This Link</h4>
  <a href="#" class="shortURL mx-auto mb-3">123</a>
  <button class="btn btn-outline-primary mx-auto" style="width: 10%;" type="button" id="button-addon2">copy</button>
</div>
{{else}}
<div class="container w-75 d-flex flex-column justify-content-center align-item-center">
  <h1 class="title mx-auto mb-4">URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="mx-auto mb-4" style="width: 15%;" alt="cover">
  <input type="text" name="inputURL" style="background-color: #eee;" class="form-control mb-3 mx-auto" placeholder="Input URL here" aria-label="URL column"
      aria-describedby="button-addon2" value="{{longURL}}">
  <button class="btn btn-outline-primary w-25 mx-auto" type="submit" id="button-addon2">shorten</button>
</div>
{{/if}}
